.InfoBox{
    background-color: magenta;
    width: 389px;
    height: 529px;
    position: absolute;
    text-align: center;
    top:100px;
    left: 100px;
    border-radius: 30px;
}

.Text{
    color: black;
    margin: 0px;
    text-align: left;
    padding: 10px;
    position: relative;
}

.RoundedInfoImage{
    position: absolute;
    border-radius: 50%;
    left: -50%;
    
}