.MemberBox{

    position: absolute;
    background-color: transparent;
    text-align: center;
    top:0px;
    left: 0px;
}
.MemberNameText{
    color: whitesmoke;
    margin: 0%;

}
.MemberPositionText{
    color: white;
    margin: 0%;
}

.WholeMemberBox{
    position: relative;
    

}
/* use the top and left to move the Member box*/
/*.MemberBox{ FIGMA TEMPLATE CSS

    position: sticky;
    width: 389px;
    height: 529px;
    left: -2px;
    top: -1px;
    
    background: aqua;
    border-radius: 30px;
}*/