.RoundedImage{
    border-radius: 50%;
    position: static;
    left: 19.38%;
    right: 19.9%;
    top: 5.87%;
    bottom: 49.62%;

background: #C4C4C4;
}

/*
    left: 19.38%;
    right: 19.9%;
    top: 5.87%;
    bottom: 49.62%;
*/