.alexPic {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 25.16%;
}

.home {
  padding-bottom: 60px;
}

.upcomingText {
  font-size: 36px;
  line-height: 57px;
}

.teamText {
  font-size: 36px;
  line-height: 57px;
  position: relative;
  width: 178px;
  height: 57px;
  margin-left: 129px;
  margin-top: 1018px;
}

.teamPic {
  border-radius: 50%;
  position: relative;
  width: 265px;
  height: 265px;
}

.teamPictures {
  text-align: left;
  position: relative;
  margin-left: 129px;
}

.nameImg {
  position: relative;
  margin-bottom: 50px;
}
